.book {
  width: 100%;
  display: flex;
  margin: 2rem;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  border-radius: 4px;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  width: 30%;
  margin: 0 1rem;
}

.CircularProgressbar-text {
  display: none;
}

.progress-bar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progress-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-text p {
  margin: 0;
}

.progress-content {
  display: flex;
  width: 40%;
}

.book-author,
.book-category,
.book-title {
  margin: 0;
}

.book-title {
  font-size: 1.37rem;
}

.book-author {
  margin-bottom: 1.3rem;
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
}

.book-category {
  color: #121212;
  opacity: 0.5;
}

.buttons-container {
  display: flex;
  gap: 0;
  width: fit-content;
}

.buttons {
  border: 0;
  background-color: transparent;
  color: #4386bf;
  cursor: pointer;
  padding: 0;
  font-weight: 300;
}

.line {
  width: 0.125rem;
  height: 1.5rem;
  margin: 0 1rem;
  border-left: solid 1px #e8e8e8;
}

.progress-content-container,
.book-content-container {
  width: 50%;
}

.current-chapter-container,
.progress-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  font-size: 2.5rem;
}

.completed {
  opacity: 0.5;
}

.current-chapter-container {
  width: 40%;
}

.current-chapter {
  opacity: 0.5;
  font-size: 0.9rem;
  color: #121212;
}

.progress-button {
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: 0;
  color: white;
  cursor: pointer;
}

.vertical-line {
  width: 0.125rem;
  height: 4.375rem;
  margin-right: 2rem;
  border-left: solid 1px #e8e8e8;
}

.vertical-line-container {
  width: 20%;
  display: flex;
  justify-content: center;
}
