.books-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.form-item {
  width: 100%;
  margin: 1rem;
}

.books-container {
  display: flex;
  justify-content: center;
}

.horizontal-line {
  width: 100%;
  border-bottom: solid 1px #e8e8e8;
}
