form {
  display: flex;
  gap: 2rem;
}

.form-title {
  font-weight: 700;
  color: #888;
  font-family: 'Montserrat', sans-serif;
}

form input {
  flex-grow: 3;
}

form input,
select {
  border: solid 1px #e8e8e8;
  padding: 0.8rem 1rem;
}

form select,
button {
  flex-grow: 1;
}
